text{
    font-size: 1em; 
    inline-size: 5px;
}
#headers{
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    fill: rgb(13, 20, 13)
}

