body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: black;
  padding: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
